SELECT [DEPARTMENT_ID]
      ,[DEPARTMENT_NAME]
      ,[PROV_ID]
      ,[SLOT_DATE]
      ,[SLOT_BEGIN_TIME]
      ,[SLOT_HOUR]
      ,[APPT_NUMBER]
      ,[NUM_APTS_SCHEDULED]
      ,[NUM_APTS_SCHEDULED]
      ,[DAY_UNAVAIL_YN]
      ,[DAY_UNAVAIL_RSN_C]
      ,[DAY_UNAVAIL_RSN_NAME]
      ,[TIME_UNAVAIL_YN]
      ,[TIME_UNAVAIL_RSN_C]
      ,[TIME_UNAVAIL_RSN_NAME]
      ,[DAY_HELD_YN]
      ,[DAY_HELD_RSN_C]
      ,[DAY_HELD_RSN_NAME]
      ,[TIME_HELD_YN]
      ,[TIME_HELD_RSN_C]
      ,[TIME_HELD_RSN_NAME]
      ,[PROV_NM_WID]
      ,[DEPT_SPECIALTY_C]
      ,[DEPT_SPECIALTY_NAME]
      ,[CENTER_C]
      ,[CENTER_NAME]
      ,[LOC_ID]
      ,[LOC_NAME]
      ,[SERV_AREA_ID]
      ,[SERV_AREA_NAME]
      ,[PROV_SCHED_TYPE_NAME]
      ,[PAT_ID]
      ,[ORG_OVBK_OPENINGS]
      ,[SLOT_LENGTH]
      ,[UNAVAILABLE_RSN_C]
      ,[UNAVAILABLE_RSN_NAME]
      ,[PRIVATE_YN]
      ,[APPT_OVERBOOK_YN]
      ,[APPT_BLOCK_C]
      ,[APPT_BLOCK_NAME]
      ,[APPT_PRC_ID]
      ,[APPT_PRC_NAME]
      ,[PAT_ENC_CSN_ID]
      ,[OUTSIDE_TEMPLATE_YN]
      ,[SLOT_END_TIME]
      ,[CM_PHY_OWNER_ID]
      ,[CM_LOG_OWNER_ID]
  FROM [CLARITY].[dbo].[V_AVAILABILITY]
  WHERE SLOT_BEGIN_TIME BETWEEN '2/1/2019 00:00 AM' AND '2/28/2019 11:59 PM'
  AND DEPARTMENT_ID = 10244004
  AND PROV_ID = '62404'
  ORDER BY DEPARTMENT_ID
         , PROV_ID
		 , APPT_NUMBER
		 , SLOT_DATE
		 , SLOT_BEGIN_TIME