USE DS_HSDM_App

DECLARE @startdate SMALLDATETIME = NULL
       ,@enddate SMALLDATETIME = NULL

--SET @startdate = '7/1/2018 00:00 AM'
--SET @enddate = '9/30/2018 11:59 PM'
--SET @startdate = '6/5/2018 00:00 AM'
--SET @enddate = '6/5/2018 11:59 PM'
--SET @startdate = '6/4/2018 00:00 AM'
--SET @enddate = '6/6/2018 11:59 PM'
--SET @startdate = '1/1/2017 00:00 AM'
--SET @startdate = '7/1/2018 00:00 AM'
--SET @startdate = '4/1/2019 00:00 AM'
--SET @enddate = '2/28/2019 11:59 PM'
--SET @startdate = '12/1/2017 00:00 AM'
--SET @enddate = '3/30/2018 11:59 PM'
--SET @enddate = '6/30/2019 11:59 PM'
SET @startdate = '7/1/2019 00:00 AM'
SET @enddate = '11/30/2019 11:59 PM'

SET NOCOUNT ON
 
	----get default Balanced Scorecard date range
IF @startdate IS NULL
   AND @enddate IS NULL
   EXEC ETL.usp_Get_Dash_Dates_BalancedScorecard @startdate OUTPUT, @enddate OUTPUT;
 
-------------------------------------------------------------------------------
DECLARE @locstartdate SMALLDATETIME,
        @locenddate SMALLDATETIME

SET @locstartdate = @startdate
SET @locenddate   = @enddate

IF OBJECT_ID('tempdb..#events_list ') IS NOT NULL
DROP TABLE #events_list

DECLARE @Pod TABLE (PodName VARCHAR(100))

INSERT INTO @Pod
(
    PodName
)
VALUES
--('Cancer'),
--('Musculoskeletal'),
--('Primary Care'),
--('Surgical Procedural Specialties'),
--('Transplant'),
--('Medical Specialties'),
--('Radiology'),
--('Heart and Vascular Center'),
--('Neurosciences and Psychiatry'),
--('Women''s and Children''s'),
--('CPG'),
--('UVA Community Cancer POD'),
--('Digestive Health'),
--('Ophthalmology'),
--('Community Medicine')
--('Medical Specialties')
--('Transplant')
('Digestive Health')
;

DECLARE @ServiceLine TABLE (ServiceLineName VARCHAR(150))

INSERT INTO @ServiceLine
(
    ServiceLineName
)
VALUES
--('Digestive Health'),
--('Heart and Vascular'),
--('Medical Subspecialties'),
--('Musculoskeletal'),
--('Neurosciences and Behavioral Health'),
--('Oncology'),
--('Ophthalmology'),
--('Primary Care'),
--('Surgical Subspecialties'),
--('Transplant'),
--('Womens and Childrens')
--('Medical Subspecialties')
('Digestive Health')
--('Womens and Childrens')
;

DECLARE @Department TABLE (DepartmentId NUMERIC(18,0))


DECLARE @StaffResource TABLE (Resource_Type VARCHAR(8))

INSERT INTO @StaffResource
(
    Resource_Type
)
VALUES
 ('Person')
,('Resource')
 --('Person')
 --('Resource)
;

DECLARE @ProviderType TABLE (Provider_Type VARCHAR(40))


DECLARE @Provider TABLE (ProviderId VARCHAR(18))

INSERT INTO @Provider
(
    ProviderId
)
VALUES
 --('28813') -- FISHER, JOSEPH D
 --('1300563') -- ARTH INF
 --('41806') -- NORTHRIDGE DEXA
 --('1301100') -- CT6
 --('82262') -- CT APPOINTMENT ERC
 --('40758') -- PAYNE, PATRICIA
 --('73571') -- LEEDS, JOSEPH THOMAS
 --,('29303') -- KALANTARI, KAMBIZ
 --('73725') -- ROSS, BUERLEIN
 --('41013') -- MANN, JAMES A
 ('85744') -- CORBETT, SUSAN
;

DECLARE @SOMDepartment TABLE (SOMDepartmentId VARCHAR(100))

INSERT INTO @SOMDepartment
(
    SOMDepartmentId
)
VALUES
--('0'),--(All)
--('57'),--MD-INMD Internal Medicine
--('98'),--MD-NERS Neurological Surgery
--('139'),--MD-OBGY Ob & Gyn
--('163'),--MD-ORTP Orthopaedic Surgery
--('194'),--MD-OTLY Otolaryngology
--('29'),--MD-PBHS Public Health Sciences
--('214'),--MD-PEDT Pediatrics
--('261'),--MD-PSCH Psychiatric Medicine
--('267'),--MD-RADL Radiology
--('292'),--MD-SURG Surgery
--('305'),--MD-UROL Urology
('0') --(All)
--('57')--,--MD-INMD Internal Medicine
--('292')--,--MD-SURG Surgery
--('47')--,--MD-ANES Anesthesiology
;

DECLARE @SOMDivision TABLE (SOMDivisionId int)


SELECT 
       [provider_id]
      ,[provider_name]
      ,[PAT_ENC_CSN_ID]
	  --,CASE WHEN appt_event_Canceled = 0 OR appt_event_Canceled_Late = 1 OR (appt_event_Provider_Canceled = 1 AND Cancel_Lead_Days <= 45) THEN 1 ELSE 0 END AS [Appointment]
	  --,CASE WHEN appt_event_Provider_Canceled = 1 AND Cancel_Lead_Days <= 45 THEN 1 ELSE 0 END AS [Bump]
	  ,[sk_Dash_AmbOpt_ProvCancApptMetric_Tiles]
      ,[event_type]
      ,[event_count]
      ,[event_date]
      ,[event_id]
      ,[event_category]
      ,[epic_department_id]
      ,[epic_department_name]
      ,[epic_department_name_external]
      ,[fmonth_num]
      ,[fyear_num]
      ,[fyear_name]
      ,[report_period]
      ,[report_date]
      ,[peds]
      ,[transplant]
      ,[sk_Dim_Pt]
      ,[sk_Fact_Pt_Acct]
      ,[sk_Fact_Pt_Enc_Clrt]
      ,[person_birth_date]
      ,[person_gender]
      ,[person_id]
      ,[person_name]
      ,[practice_group_id]
      ,[practice_group_name]
      --,[provider_id]
      --,[provider_name]
      ,[service_line_id]
      ,[service_line]
      ,[sub_service_line_id]
      ,[sub_service_line]
      ,[opnl_service_id]
      ,[opnl_service_name]
      ,[corp_service_line_id]
      ,[corp_service_line_name]
      ,[hs_area_id]
      ,[hs_area_name]
      ,[pod_id]
      ,[pod_name]
      ,[hub_id]
      ,[hub_name]
      ,[w_department_id]
      ,[w_department_name]
      ,[w_department_name_external]
      ,[w_practice_group_id]
      ,[w_practice_group_name]
      ,[w_service_line_id]
      ,[w_service_line_name]
      ,[w_sub_service_line_id]
      ,[w_sub_service_line_name]
      ,[w_opnl_service_id]
      ,[w_opnl_service_name]
      ,[w_corp_service_line_id]
      ,[w_corp_service_line_name]
      ,[w_report_period]
      ,[w_report_date]
      ,[w_hs_area_id]
      ,[w_hs_area_name]
      ,[w_pod_id]
      ,[w_pod_name]
      ,[w_hub_id]
      ,[w_hub_name]
      ,[prov_service_line_id]
      ,[prov_service_line]
      ,[prov_hs_area_id]
      ,[prov_hs_area_name]
      ,[APPT_STATUS_FLAG]
      ,[CANCEL_REASON_C]
      ,[APPT_DT]
      --,[PAT_ENC_CSN_ID]
      ,[PRC_ID]
      ,[PRC_NAME]
      ,[sk_Dim_Physcn]
      ,[UVaID]
      ,[VIS_NEW_TO_SYS_YN]
      ,[VIS_NEW_TO_DEP_YN]
      ,[VIS_NEW_TO_PROV_YN]
      ,[VIS_NEW_TO_SPEC_YN]
      ,[VIS_NEW_TO_SERV_AREA_YN]
      ,[VIS_NEW_TO_LOC_YN]
      ,[APPT_MADE_DATE]
      ,[ENTRY_DATE]
      ,[appt_event_No_Show]
      ,[appt_event_Canceled_Late]
      ,[appt_event_Canceled]
      ,[appt_event_Scheduled]
      ,[appt_event_Provider_Canceled]
      ,[appt_event_Completed]
      ,[appt_event_Arrived]
      ,[appt_event_New_to_Specialty]
      ,[Appointment_Lag_Days]
      ,[Load_Dtm]
      ,[DEPT_SPECIALTY_NAME]
      ,[PROV_SPECIALTY_NAME]
      ,[APPT_DTTM]
      ,[CANCEL_REASON_NAME]
      ,[financial_division]
      ,[financial_subdivision]
      ,[CANCEL_INITIATOR]
      ,[CANCEL_LEAD_HOURS]
      ,[APPT_CANC_DTTM]
      ,[Entry_UVaID]
      ,[Canc_UVaID]
	  ,[Cancel_Lead_Days]
      ,[financial_division_id]
      ,[financial_division_name]
      ,[financial_sub_division_id]
      ,[financial_sub_division_name]
      ,[rev_location_id]
      ,[rev_location]
      ,[som_group_id]
      ,[som_group_name]
      ,[som_department_id]
      ,[som_department_name]
      ,[som_division_id]
      ,[w_financial_division_id]
      ,[w_financial_division_name]
      ,[w_financial_sub_division_id]
      ,[w_financial_sub_division_name]
      ,[w_rev_location_id]
      ,[w_rev_location]
      ,[w_som_group_id]
      ,[w_som_group_name]
      ,[w_som_department_id]
      ,[w_som_department_name]
      ,[w_som_division_id]
      ,[som_division_name]
      ,[w_som_division_name]
      ,[APPT_MADE_DTTM]
      ,[Prov_Typ]
      ,[Staff_Resource]
      ,[w_som_hs_area_id]
      ,[w_som_hs_area_name]
      ,[APPT_SERIAL_NUM]
      ,[Appointment_Request_Date]
	  ,Next_APPT_DT
	  ,Rescheduled_Lag_Days
      ,[BILL_PROV_YN]
--
-- Bump Rate (Provider Type)
--				SUM((Prov_Typ = 'Fellow' OR Prov_Typ = 'Nurse Practitioner' OR Prov_Typ = 'Physician' OR Prov_Typ = 'Physician Assistant') AND appt_event_Provider_Canceled = 1 AND Cancel_Lead_Days <= 45)
--              /
--              SUM((Prov_Typ = 'Fellow' OR Prov_Typ = 'Nurse Practitioner' OR Prov_Typ = 'Physician' OR Prov_Typ = 'Physician Assistant') AND (appt_event_Canceled = 0 OR appt_event_Canceled_Late = 1 OR (appt_event_Provider_Canceled = 1 AND Cancel_Lead_Days <= 45)))
--
  --/*
	  ,[Appointment]
	  ,[Bump]
  --*/

  INTO #events_list

  FROM [TabRptg].[Dash_AmbOpt_ProvCancApptMetric_Tiles]
  WHERE
  /* Bump Rate (Provider Type)*/
  --/*
  ((event_category = 'Detail') AND (event_count = 1))
  --AND (Bump = 1)
  AND event_date BETWEEN @locstartdate AND @locenddate
  --AND EXISTS(SELECT PodName FROM @Pod WHERE PodName = pod_name)
  AND EXISTS(SELECT ServiceLineName FROM @ServiceLine WHERE ServiceLineName = w_service_line_name)
  AND EXISTS(SELECT DepartmentId FROM @Department WHERE DepartmentId = epic_department_id)
  --AND EXISTS(SELECT Staff_Resource FROM @StaffResource WHERE Staff_Resource = Staff_Resource)
  AND EXISTS(SELECT Provider_Type FROM @ProviderType WHERE Provider_Type = Prov_Typ)
  --AND EXISTS(SELECT ProviderId FROM @Provider WHERE ProviderId = provider_id)
  --*/

  --SELECT *
  SELECT Bump
       , appt_event_Provider_Canceled
	   , APPT_CANC_DTTM
	   , APPT_DTTM
	   , Cancel_Lead_Days
	   , event_date
  FROM #events_list
  --WHERE fyear_num = 2020
  --WHERE (Bump = 1)
  --AND fmonth_num = 2
  --AND fmonth_num IN (1,2)
  --ORDER BY pod_id
  --       , epic_department_id
		-- , provider_id
  --       , event_date
  --ORDER BY pod_id
  --       , epic_department_id
		-- , CYCLE_TIME_MINUTES_Adjusted DESC
  --ORDER BY w_service_line_id
  --       , epic_department_id
		-- --, provider_id
  --       , event_date
  --ORDER BY PAT_ENC_CSN_ID
  --       , w_service_line_id
  --       , epic_department_id
		-- , provider_id
  --       , event_date
  --ORDER BY person_id
  --       , event_date
  --ORDER BY provider_name
  --       , PAT_ENC_CSN_ID
  --ORDER BY APPT_STATUS_FLAG
  --       , event_date
  --ORDER BY fyear_num
  --       , fmonth_num
		-- , Bump
		-- , APPT_STATUS_FLAG
  --       , event_date
  --ORDER BY person_name
  --       , event_date
  --ORDER BY event_date
  --       , epic_department_id
		-- , Bump DESC
  --ORDER BY epic_department_id
  --       , Prov_Typ
		-- , Bump DESC
  ORDER BY Bump DESC
         , Cancel_Lead_Days
		 , event_date

--SELECT
SELECT
	epic_department_id
   ,Prov_Typ
   ,fyear_num
   ,fmonth_num
   --,event_date
  /* Bump Rate (Provider Type) */
  --/*
	  ,SUM([Appointment]) AS [Appointment]
	  ,SUM([Bump]) AS [Bump]
  --*/
  FROM [TabRptg].[Dash_AmbOpt_ProvCancApptMetric_Tiles]
  WHERE
  /* Bump Rate (Provider Type)*/
  --/*
  ((event_category = 'Aggregate') AND (event_count = 1))
  AND event_date BETWEEN @locstartdate AND @locenddate
  --AND EXISTS(SELECT PodName FROM @Pod WHERE PodName = pod_name)
  AND EXISTS(SELECT ServiceLineName FROM @ServiceLine WHERE ServiceLineName = w_service_line_name)
  AND EXISTS(SELECT DepartmentId FROM @Department WHERE DepartmentId = epic_department_id)
  --AND EXISTS(SELECT Staff_Resource FROM @StaffResource WHERE Staff_Resource = Staff_Resource)
  AND EXISTS(SELECT Provider_Type FROM @ProviderType WHERE Provider_Type = Prov_Typ)
  --AND EXISTS(SELECT ProviderId FROM @Provider WHERE ProviderId = provider_id)
  --*/
 -- GROUP BY
	--fyear_num
 -- , fmonth_num
 -- GROUP BY
	--epic_department_id
 --  ,event_date
  GROUP BY
	epic_department_id
   ,Prov_Typ
   ,fyear_num
   ,fmonth_num
 -- ORDER BY
	--fyear_num
 -- , fmonth_num
 -- ORDER BY
	--epic_department_id
 --  ,event_date
  ORDER BY
	epic_department_id
   ,Prov_Typ
   ,fyear_num
   ,fmonth_num

SELECT
	service_line
   ,epic_department_id
   --,event_date
  /* Bump Rate (Provider Type) */
  --/*
	  ,SUM([Appointment]) AS [Appointment]
	  ,SUM([Bump]) AS [Bump]
  --*/
  FROM [TabRptg].[Dash_AmbOpt_ProvCancApptMetric_Tiles]
  WHERE
  /* Bump Rate (Provider Type)*/
  --/*
  ((event_category = 'Aggregate') AND (event_count = 1))
  AND event_date BETWEEN @locstartdate AND @locenddate
  --AND EXISTS(SELECT PodName FROM @Pod WHERE PodName = pod_name)
  AND EXISTS(SELECT ServiceLineName FROM @ServiceLine WHERE ServiceLineName = w_service_line_name)
  AND EXISTS(SELECT DepartmentId FROM @Department WHERE DepartmentId = epic_department_id)
  --AND EXISTS(SELECT Staff_Resource FROM @StaffResource WHERE Staff_Resource = Staff_Resource)
  AND EXISTS(SELECT Provider_Type FROM @ProviderType WHERE Provider_Type = Prov_Typ)
  --AND EXISTS(SELECT ProviderId FROM @Provider WHERE ProviderId = provider_id)
  --*/
 -- GROUP BY
	--fyear_num
 -- , fmonth_num
 -- GROUP BY
	--epic_department_id
 --  ,event_date
  GROUP BY
	service_line
   ,epic_department_id
 -- ORDER BY
	--fyear_num
 -- , fmonth_num
 -- ORDER BY
	--epic_department_id
 --  ,event_date
  ORDER BY
	service_line
   ,epic_department_id
 
