USE DS_HSDM_App

DECLARE @startdate SMALLDATETIME = NULL
       ,@enddate SMALLDATETIME = NULL

--SET @startdate = '7/1/2018 00:00 AM'
--SET @enddate = '9/30/2018 11:59 PM'
--SET @startdate = '6/5/2018 00:00 AM'
--SET @enddate = '6/5/2018 11:59 PM'
--SET @startdate = '6/4/2018 00:00 AM'
--SET @enddate = '6/6/2018 11:59 PM'
--SET @startdate = '1/1/2017 00:00 AM'
--SET @startdate = '7/1/2018 00:00 AM'
--SET @startdate = '4/1/2019 00:00 AM'
--SET @enddate = '2/28/2019 11:59 PM'
--SET @startdate = '12/1/2017 00:00 AM'
--SET @enddate = '3/30/2018 11:59 PM'
--SET @enddate = '6/30/2019 11:59 PM'
SET @startdate = '7/1/2019 00:00 AM'
SET @enddate = '12/31/2019 11:59 PM'

SET NOCOUNT ON
 
	----get default Balanced Scorecard date range
IF @startdate IS NULL
   AND @enddate IS NULL
   EXEC ETL.usp_Get_Dash_Dates_BalancedScorecard @startdate OUTPUT, @enddate OUTPUT;
 
-------------------------------------------------------------------------------
DECLARE @locstartdate SMALLDATETIME,
        @locenddate SMALLDATETIME

SET @locstartdate = @startdate
SET @locenddate   = @enddate

IF OBJECT_ID('tempdb..#events_list ') IS NOT NULL
DROP TABLE #events_list

DECLARE @Pod TABLE (PodName VARCHAR(100))

INSERT INTO @Pod
(
    PodName
)
VALUES
--('Cancer'),
--('Musculoskeletal'),
--('Primary Care'),
--('Surgical Procedural Specialties'),
--('Transplant'),
--('Medical Specialties'),
--('Radiology'),
--('Heart and Vascular Center'),
--('Neurosciences and Psychiatry'),
--('Women''s and Children''s'),
--('CPG'),
--('UVA Community Cancer POD'),
--('Digestive Health'),
--('Ophthalmology'),
--('Community Medicine')
--('Medical Specialties')
--('Transplant')
('Digestive Health')
;

DECLARE @ServiceLine TABLE (ServiceLineName VARCHAR(150))

INSERT INTO @ServiceLine
(
    ServiceLineName
)
VALUES
--('Digestive Health'),
--('Heart and Vascular'),
--('Medical Subspecialties'),
--('Musculoskeletal'),
--('Neurosciences and Behavioral Health'),
--('Oncology'),
--('Ophthalmology'),
--('Primary Care'),
--('Surgical Subspecialties'),
--('Transplant'),
--('Womens and Childrens')
--('Medical Subspecialties')
('Digestive Health')
--('Womens and Childrens')
;

DECLARE @Department TABLE (DepartmentId NUMERIC(18,0))


DECLARE @StaffResource TABLE (Resource_Type VARCHAR(8))

INSERT INTO @StaffResource
(
    Resource_Type
)
VALUES
 ('Person')
,('Resource')
 --('Person')
 --('Resource)
;

DECLARE @ProviderType TABLE (Provider_Type VARCHAR(40))


DECLARE @Provider TABLE (ProviderId VARCHAR(18))

INSERT INTO @Provider
(
    ProviderId
)
VALUES
 --('28813') -- FISHER, JOSEPH D
 --('1300563') -- ARTH INF
 --('41806') -- NORTHRIDGE DEXA
 --('1301100') -- CT6
 --('82262') -- CT APPOINTMENT ERC
 --('40758') -- PAYNE, PATRICIA
 --('73571') -- LEEDS, JOSEPH THOMAS
 --,('29303') -- KALANTARI, KAMBIZ
 --('73725') -- ROSS, BUERLEIN
 --('41013') -- MANN, JAMES A
 ('85744') -- CORBETT, SUSAN
;

DECLARE @SOMDepartment TABLE (SOMDepartmentId VARCHAR(100))

INSERT INTO @SOMDepartment
(
    SOMDepartmentId
)
VALUES
--('0'),--(All)
--('57'),--MD-INMD Internal Medicine
--('98'),--MD-NERS Neurological Surgery
--('139'),--MD-OBGY Ob & Gyn
--('163'),--MD-ORTP Orthopaedic Surgery
--('194'),--MD-OTLY Otolaryngology
--('29'),--MD-PBHS Public Health Sciences
--('214'),--MD-PEDT Pediatrics
--('261'),--MD-PSCH Psychiatric Medicine
--('267'),--MD-RADL Radiology
--('292'),--MD-SURG Surgery
--('305'),--MD-UROL Urology
('0') --(All)
--('57')--,--MD-INMD Internal Medicine
--('292')--,--MD-SURG Surgery
--('47')--,--MD-ANES Anesthesiology
;

DECLARE @SOMDivision TABLE (SOMDivisionId int)


SELECT
       [sk_Dash_AmbOpt_NewPatientAppt_Metric_Tiles]
      ,[event_type]
      ,[event_count]
	  ,CASE WHEN event_count = 1 THEN 1 ELSE 0 END AS [NewPatient]
	  ,CASE WHEN AbleToAccess = 1 THEN 1 ELSE 0 END AS [AbleToAccess]
      ,[APPT_STATUS_FLAG]
      ,[APPT_STATUS_C]
      ,[event_date]
      ,[event_id]
      ,[event_category]
      ,[epic_department_id]
      ,[epic_department_name]
      ,[epic_department_name_external]
      ,[fmonth_num]
      ,[fyear_num]
      ,[fyear_name]
      ,[report_period]
      ,[report_date]
      ,[peds]
      ,[transplant]
      ,[sk_Dim_Pt]
      ,[sk_Fact_Pt_Acct]
      ,[sk_Fact_Pt_Enc_Clrt]
      ,[person_birth_date]
      ,[person_gender]
      ,[person_id]
      ,[person_name]
      ,[practice_group_id]
      ,[practice_group_name]
      ,[provider_id]
      ,[provider_name]
      ,[service_line_id]
      ,[service_line]
      ,[sub_service_line_id]
      ,[sub_service_line]
      ,[opnl_service_id]
      ,[opnl_service_name]
      ,[corp_service_line_id]
      ,[corp_service_line_name]
      ,[hs_area_id]
      ,[hs_area_name]
      ,[pod_id]
      ,[pod_name]
      ,[hub_id]
      ,[hub_name]
      ,[financial_division_id]
      ,[financial_division_name]
      ,[financial_sub_division_id]
      ,[financial_sub_division_name]
      ,[rev_location_id]
      ,[rev_location]
      ,[som_group_id]
      ,[som_group_name]
      ,[som_department_id]
      ,[som_department_name]
      ,[som_division_id]
      ,[som_division_name]
      ,[w_department_id]
      ,[w_department_name]
      ,[w_department_name_external]
      ,[w_practice_group_id]
      ,[w_practice_group_name]
      ,[w_service_line_id]
      ,[w_service_line_name]
      ,[w_sub_service_line_id]
      ,[w_sub_service_line_name]
      ,[w_opnl_service_id]
      ,[w_opnl_service_name]
      ,[w_corp_service_line_id]
      ,[w_corp_service_line_name]
      ,[w_report_period]
      ,[w_report_date]
      ,[w_hs_area_id]
      ,[w_hs_area_name]
      ,[w_pod_id]
      ,[w_pod_name]
      ,[w_hub_id]
      ,[w_hub_name]
      ,[w_financial_division_id]
      ,[w_financial_division_name]
      ,[w_financial_sub_division_id]
      ,[w_financial_sub_division_name]
      ,[w_rev_location_id]
      ,[w_rev_location]
      ,[w_som_group_id]
      ,[w_som_group_name]
      ,[w_som_department_id]
      ,[w_som_department_name]
      ,[w_som_division_id]
      ,[w_som_division_name]
      ,[w_som_hs_area_id]
      ,[w_som_hs_area_name]
      ,[prov_service_line_id]
      ,[prov_service_line_name]
      ,[prov_hs_area_id]
      ,[prov_hs_area_name]
      --,[AbleToAccess]
      ,[VIS_NEW_TO_SYS_YN]
      ,[VIS_NEW_TO_DEP_YN]
      ,[VIS_NEW_TO_PROV_YN]
      ,[VIS_NEW_TO_SPEC_YN]
      ,[VIS_NEW_TO_SERV_AREA_YN]
      ,[VIS_NEW_TO_LOC_YN]
      ,[appt_event_No_Show]
      ,[appt_event_Canceled_Late]
      ,[appt_event_Canceled]
      ,[appt_event_Scheduled]
      ,[appt_event_Provider_Canceled]
      ,[appt_event_Completed]
      ,[appt_event_Arrived]
      ,[appt_event_New_to_Specialty]
      --,[APPT_STATUS_FLAG]
      --,[APPT_STATUS_C]
      ,[CANCEL_REASON_C]
      ,[APPT_CANC_DTTM]
      ,[CANCEL_REASON_NAME]
      ,[CANCEL_INITIATOR]
      ,[CANCEL_LEAD_HOURS]
      ,[Cancel_Lead_Days]
      ,[APPT_MADE_DTTM]
      ,[APPT_MADE_DATE]
      ,[ENTRY_DATE]
      ,[CHANGE_DATE]
      ,[Appointment_Request_Date]
      ,[APPT_DTTM]
      ,[APPT_DT]
      ,[Appointment_Lag_Days]
      ,[Appointment_Lag_Business_Days]
      ,[Resch_APPT_STATUS_C]
      ,[Resch_APPT_STATUS_FLAG]
      ,[Resch_CANCEL_INITIATOR]
      ,[Resch_Appointment_Request_Date]
      ,[Resch_APPT_DT]
      ,[Resch_Appointment_Lag_Business_Days_from_Initial_Request]
      ,[MRN_int]
      ,[CONTACT_DATE]
      ,[PAT_ENC_CSN_ID]
      ,[PRC_ID]
      ,[PRC_NAME]
      ,[sk_Dim_Physcn]
      ,[UVaID]
      ,[DEPT_SPECIALTY_NAME]
      ,[PROV_SPECIALTY_NAME]
      ,[ENC_TYPE_C]
      ,[ENC_TYPE_TITLE]
      ,[APPT_CONF_STAT_NAME]
      ,[ZIP]
      ,[APPT_CONF_DTTM]
      ,[financial_division]
      ,[financial_subdivision]
      ,[F2F_Flag]
      ,[Entry_UVaID]
      ,[Canc_UVaID]
      ,[PHONE_REM_STAT_NAME]
      ,[BUSINESS_UNIT]
      ,[Prov_Typ]
      ,[Staff_Resource]
      ,[BILL_PROV_YN]
      ,[Load_Dtm]

--
-- New Patient Able to Access Percentage
--				SUM(AbleToAccess = 1)
--              /
--              SUM(event_count = 1)
--
  --/*
	  --,CASE WHEN event_count = 1 THEN 1 ELSE 0 END AS [NewPatient]
	  --,CASE WHEN AbleToAccess = 1 THEN 1 ELSE 0 END AS [AbleToAccess]
  --*/

  INTO #events_list

  FROM [TabRptg].[Dash_AmbOpt_NewPatientApptMetric_Tiles]
  WHERE
  /* New Patient Able to Access Percentage */
  --/*
  (event_count = 1)
  AND event_date BETWEEN @locstartdate AND @locenddate
  AND hs_area_id = 1
  --AND EXISTS(SELECT PodName FROM @Pod WHERE PodName = pod_name)
  AND EXISTS(SELECT ServiceLineName FROM @ServiceLine WHERE ServiceLineName = w_service_line_name)
  AND EXISTS(SELECT DepartmentId FROM @Department WHERE DepartmentId = epic_department_id)
  --AND EXISTS(SELECT Staff_Resource FROM @StaffResource WHERE Staff_Resource = Staff_Resource)
  --AND EXISTS(SELECT Provider_Type FROM @ProviderType WHERE Provider_Type = Prov_Typ)
  --AND EXISTS(SELECT ProviderId FROM @Provider WHERE ProviderId = provider_id)
  --*/

  SELECT *
  FROM #events_list
  --WHERE fyear_num = 2020
  --AND fmonth_num = 2
  --AND fmonth_num IN (1,2)
  --ORDER BY pod_id
  --       , epic_department_id
		-- , provider_id
  --       , event_date
  --ORDER BY pod_id
  --       , epic_department_id
		-- , CYCLE_TIME_MINUTES_Adjusted DESC
  --ORDER BY w_service_line_id
  --       , epic_department_id
		-- --, provider_id
  --       , event_date
  --ORDER BY PAT_ENC_CSN_ID
  --       , w_service_line_id
  --       , epic_department_id
		-- , provider_id
  --       , event_date
  --ORDER BY person_id
  --       , event_date
  --ORDER BY provider_name
  --       , PAT_ENC_CSN_ID
  --ORDER BY APPT_STATUS_FLAG
  --       , event_date
  --ORDER BY AbleToAccess DESC
  --       , fyear_num
  --       , fmonth_num
		-- , APPT_STATUS_FLAG
  --       , event_date
  ORDER BY AbleToAccess DESC
		 , APPT_STATUS_FLAG
         , fyear_num
         , fmonth_num
         , event_date
  --ORDER BY person_name
  --       , event_date

--SELECT
SELECT
	fyear_num
   ,fmonth_num

  /* New Patient Able to Access Percentage */
  --/*
	  ,SUM(CASE WHEN event_count = 1 THEN 1 ELSE 0 END) AS [NewPatient]
	  ,SUM(CASE WHEN AbleToAccess = 1 THEN 1 ELSE 0 END) AS [AbleToAccess]
  --*/
  FROM [TabRptg].[Dash_AmbOpt_NewPatientApptMetric_Tiles]
  WHERE
  /* New Patient Able to Access Percentage */
  --/*
  (event_count = 1)
  AND event_date BETWEEN @locstartdate AND @locenddate
  AND hs_area_id = 1
  --AND EXISTS(SELECT PodName FROM @Pod WHERE PodName = pod_name)
  AND EXISTS(SELECT ServiceLineName FROM @ServiceLine WHERE ServiceLineName = w_service_line_name)
  AND EXISTS(SELECT DepartmentId FROM @Department WHERE DepartmentId = epic_department_id)
  --AND EXISTS(SELECT Staff_Resource FROM @StaffResource WHERE Staff_Resource = Staff_Resource)
  --AND EXISTS(SELECT Provider_Type FROM @ProviderType WHERE Provider_Type = Prov_Typ)
  --AND EXISTS(SELECT ProviderId FROM @Provider WHERE ProviderId = provider_id)
  --*/
  GROUP BY
	fyear_num
  , fmonth_num
  ORDER BY
	fyear_num
  , fmonth_num
 
